<h1>Checkout</h1>
<%= form_tag("/checkout", method: "post", id: "checkout") do %>
  <label for="amount">Amount</label>
  <input type="text" name="amount" id="amount" value="10.00">
  <div id="payment-form"></div>
  <input type="submit" value="Pay Now">
<% end %>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  var client_token = "<%= @client_token %>";
  braintree.setup(client_token, "dropin", {
    container: "payment-form"
  });
</script>
