<div class="notice-wrapper">
  <% if flash[:error] %>
    <div class="show notice error notice-error">
      <span class="notice-message">
        <%= alert_string(flash[:error]) %>
      </span>
    </div>
  <% end %>
</div>
